<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Breakpoints</key>
	<dict/>
	<key>CYBreakOnException</key>
	<false/>
	<key>ContentSplitViewGeometry</key>
	<dict>
		<key>ContentSplitViewConfig</key>
		<integer>8</integer>
		<key>SplitViewConfig</key>
		<integer>3</integer>
		<key>_collapsingFrameDimension</key>
		<real>0.0</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>0.0</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {731, 0}}</string>
			<string>{{0, 10}, {731, 507}}</string>
		</array>
	</dict>
	<key>ContentViewType</key>
	<integer>0</integer>
	<key>Dashboard Widget Prefs</key>
	<dict>
		<key>id</key>
		<string>2f4fbf2d6bb2a741</string>
		<key>in-layer</key>
		<true/>
		<key>path</key>
		<string>/private/tmp/Dashcode/.Workload.wdgtprojU0uML3/Workload.wdgtproj/project.wdgt/</string>
		<key>percent-offset-x</key>
		<integer>0</integer>
		<key>percent-offset-y</key>
		<integer>0</integer>
		<key>percent-type</key>
		<integer>2</integer>
		<key>percent-x</key>
		<real>0.35104167461395264</real>
		<key>percent-y</key>
		<real>0.32416665554046631</real>
		<key>pos-x</key>
		<integer>856</integer>
		<key>pos-y</key>
		<integer>389</integer>
		<key>rosetta</key>
		<false/>
	</dict>
	<key>EvaluatorFrame</key>
	<string>-690 560 690 618 -1440 300 1440 900 </string>
	<key>MainSplitViewGeometry</key>
	<dict>
		<key>_collapsingFrameDimension</key>
		<real>0.0</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>0.0</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {246, 538}}</string>
			<string>{{247, 0}, {732, 538}}</string>
		</array>
	</dict>
	<key>MainWindowFrame</key>
	<string>-1319 619 978 559 -1440 300 1440 900 </string>
	<key>NavigatorSplitViewGeometry</key>
	<dict>
		<key>ContentSplitViewConfig</key>
		<integer>5</integer>
		<key>SplitViewConfig</key>
		<integer>3</integer>
		<key>_collapsingFrameDimension</key>
		<real>0.0</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>0.0</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {248, 261}}</string>
			<string>{{0, 271}, {248, 246}}</string>
		</array>
	</dict>
	<key>Objects view expanded items</key>
	<array>
		<array>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>9</integer>
		</array>
	</array>
	<key>Objects view last selections</key>
	<array>
		<array>
			<integer>0</integer>
		</array>
	</array>
	<key>Opened Steps</key>
	<array>
		<integer>4</integer>
	</array>
</dict>
</plist>
