<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Breakpoints</key>
	<dict>
		<key>lib/UpdateManager.js:12</key>
		<string>check</string>
	</dict>
	<key>CYBreakOnException</key>
	<false/>
	<key>ContentSplitViewGeometry</key>
	<dict>
		<key>ContentSplitViewConfig</key>
		<integer>8</integer>
		<key>SplitViewConfig</key>
		<integer>3</integer>
		<key>_collapsingFrameDimension</key>
		<real>0.0</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>0.0</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {864, 353}}</string>
			<string>{{0, 363}, {864, 710}}</string>
		</array>
	</dict>
	<key>ContentViewType</key>
	<integer>0</integer>
	<key>Dashboard Widget Prefs</key>
	<dict>
		<key>id</key>
		<string>82fd5713a5dca741</string>
		<key>in-layer</key>
		<true/>
		<key>path</key>
		<string>/private/tmp/Dashcode/.Workload.wdgtproj8YQpJC/Workload.wdgtproj/project.wdgt/</string>
		<key>percent-offset-x</key>
		<integer>0</integer>
		<key>percent-offset-y</key>
		<integer>0</integer>
		<key>percent-type</key>
		<integer>3</integer>
		<key>percent-x</key>
		<real>0.067708335816860199</real>
		<key>percent-y</key>
		<real>0.37999999523162842</real>
		<key>pos-x</key>
		<integer>1400</integer>
		<key>pos-y</key>
		<integer>534</integer>
		<key>rosetta</key>
		<false/>
	</dict>
	<key>EvaluatorFrame</key>
	<string>1428 708 492 468 0 0 1920 1178 </string>
	<key>MainSplitViewGeometry</key>
	<dict>
		<key>_collapsingFrameDimension</key>
		<real>0.0</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>0.0</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {246, 1094}}</string>
			<string>{{247, 0}, {865, 1094}}</string>
		</array>
	</dict>
	<key>MainWindowFrame</key>
	<string>251 63 1111 1115 0 0 1920 1178 </string>
	<key>NavigatorSplitViewGeometry</key>
	<dict>
		<key>ContentSplitViewConfig</key>
		<integer>5</integer>
		<key>SplitViewConfig</key>
		<integer>3</integer>
		<key>_collapsingFrameDimension</key>
		<real>0.0</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>0.0</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {248, 535}}</string>
			<string>{{0, 545}, {248, 528}}</string>
		</array>
	</dict>
	<key>Objects view expanded items</key>
	<array>
		<array>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>Objects view last selections</key>
	<array/>
	<key>Opened Steps</key>
	<array>
		<integer>4</integer>
	</array>
</dict>
</plist>
